*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fcfcfc;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60vh minimax(60rem, auto) minimax(min-content, auto); }

header {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 2px solid salmon; }

footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }

.main,
.footer {
  width: 100%;
  margin: 0 auto; }

li {
  list-style: none; }

a:link {
  color: #383838;
  text-decoration: none; }

a:visited {
  color: #d55534; }

.container {
  margin: 0 auto; }

::selection {
  background-color: #d55534;
  color: #fff0ce; }

/***********************************
Colors:
base color, blue: #097392; 
blue-grey, #83B4B3;
tan, #FFF0CE;
orangered, #D55534
deep blue grey, #383838;

Fonts:
Titles: font-family: 'Alegreya', serif;
Texts: font-family: 'Open Sans', sans-serif;
***********************************/
body {
  font-family: "Open Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya", serif; }

/*******************************************
****** Breakpoints ******
tab: 600px;
sm-desktop: 900px;
normal-desktop: 1200px;
xl-desktop: 1500px;

how to apply:
@include responsive(tab-port) {
    background-color: pink;
  }


  @include responsive(tab) {
        
  }
  @include responsive(sm-desktop) {
        
  }
  @include responsive(normal-desktop) {
    
  }
  @include responsive(xl-desktop) {
    
    
  }

******************************************/
footer {
  margin: 0 auto;
  width: 100%;
  height: auto; }

.footer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(min-content, auto)); }
  .footer__subscribe {
    width: 100%;
    height: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
    .footer__subscribe--img {
      width: 100%;
      height: 70vh;
      background-image: url("../img/footer-img.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .footer__subscribe--box {
      width: 100%;
      height: 20vh;
      background-color: #83b4b3; }
  .footer__socialMedia {
    width: 100%;
    height: 20vh;
    background-color: #097392;
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
    .footer__socialMedia--box {
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer__socialMedia--box a {
        display: inline-block;
        padding: 1rem; }
  .footer__copyright {
    margin: 1rem auto;
    padding: 2rem 1rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 1.2rem;
    text-align: center; }

.subscribeInput {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, minmax(max-content, auto)); }
  .subscribeInput__form {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-column: 3fr 1fr;
    grid-row: 8rem 15rem;
    grid-gap: 0.5rem; }
    .subscribeInput__form--label {
      margin: 0 auto;
      padding: 1rem;
      font-family: "Alegreya", serif;
      font-size: 3.6rem;
      text-align: center;
      color: #097392;
      text-shadow: 0.1rem 0.1rem 0.1rem #fcfcfc;
      grid-column: 1 / 3;
      grid-row: 1 / 2; }
    .subscribeInput__form--email {
      width: 100%;
      height: 2rem;
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    .subscribeInput__form--submit {
      width: 3rem;
      height: 2rem;
      background-color: #de785e;
      border: none;
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
  .subscribeInput__text {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }

.header {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: minmax(auto, 60%) minmax(auto, 40%);
  grid-template-rows: repeat(2, 1fr); }

.header__background-img-box {
  background-image: url("../img/header-background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 25%;
  position: relative;
  margin: 0;
  width: 100vw;
  height: 70vh;
  grid-column: 1 / 3;
  grid-row: 1/ 3;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 600px) {
    .header__background-img-box {
      background-position: center;
      height: 90vh; } }
  @media only screen and (min-width: 900px) {
    .header__background-img-box {
      height: 100vh;
      background-position: bottom; } }
  .header__background-img-box--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; }
  .header__background-img-box--title {
    font-size: 6rem;
    mix-blend-mode: overlay;
    transform: scale(0.8, 2);
    text-shadow: 0.1rem 0.1rem 0.1rem #097392;
    color: rgba(252, 252, 252, 0.9); }
    @media only screen and (min-width: 600px) {
      .header__background-img-box--title {
        transform: scale(1, 2); } }
    @media only screen and (min-width: 1200px) {
      .header__background-img-box--title {
        transform: scale(1.2, 2.2); } }
    @media only screen and (min-width: 1500px) {
      .header__background-img-box--title {
        transform: scale(1.3, 2.5); } }

.logo {
  padding: 1rem 1rem 1rem 2.5rem;
  transition: display 0.3s ease-in-out; }
  .logo-sm {
    width: 4rem;
    height: auto; }
    @media only screen and (min-width: 600px) {
      .logo-sm {
        display: none; } }
  .logo-big {
    display: none; }
    @media only screen and (min-width: 600px) {
      .logo-big {
        display: block;
        height: 4.5rem; } }

.header-box {
  width: 100%;
  height: min-content;
  z-index: 10;
  grid-column: 1 / 3;
  grid-row: 1/ 2;
  justify-content: space-between; }
  .header-box__banner {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr minmax(16rem, 24rem);
    grid-template-rows: 1fr; }

.menu {
  display: grid;
  grid-template-columns: 80% 120px;
  grid-template-rows: 1fr;
  /*******************************************************
  ************* Hamburger menu and nested drop-down menus
  ********************************************************/ }
  .menu__startHere {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    font-size: 2.4rem;
    font-family: "Alegreya", serif; }
    @media only screen and (min-width: 600px) {
      .menu__startHere {
        padding-right: 3rem; } }
    @media only screen and (min-width: 900px) {
      .menu__startHere {
        padding-right: 4rem; } }
    @media only screen and (min-width: 1500px) {
      .menu__startHere {
        padding-right: 5.5rem; } }
  .menu__hamburger {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 3%;
    top: 1.3rem; }
    @media only screen and (min-width: 600px) {
      .menu__hamburger {
        right: 2.6%;
        top: 1.5rem; } }
    .menu__hamburger--toggle {
      display: block;
      margin: 0;
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 20; }
    .menu__hamburger--line {
      display: block;
      margin-bottom: 0.4rem;
      width: 2.5rem;
      height: 0.4rem;
      position: relative;
      top: 0.7rem;
      background-color: #fcfcfc;
      transform-origin: 4px 0;
      transition: all 0.3s ease-in-out;
      border-radius: 3px; }
    .menu__hamburger--line:first-child {
      transform-origin: 0% 0%; }
    .menu__hamburger--line:nth-child(2) {
      transform-origin: 0 100%;
      transform-origin: 0 100%; }
    .menu__hamburger--toggle:checked ~ .menu__hamburger--line {
      opacity: 1;
      transform: rotate(45deg) translate(-1px, -1px); }
    .menu__hamburger--toggle:checked ~ .menu__hamburger--line:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) translate(0.2, 0.2); }
    .menu__hamburger--toggle:checked ~ .menu__hamburger--line:nth-last-child(2) {
      opacity: 1;
      transform: rotate(-45deg) translate(-1px, -1px); }
    .menu__hamburger--list {
      font-size: 2.4rem;
      font-family: "Alegreya", serif;
      margin-top: -0.7rem;
      padding: 0.5rem;
      width: 110vw;
      height: 110vh;
      background: rgba(9, 115, 146, 0.9);
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out; }
      .menu__hamburger--list-item {
        margin: 2rem auto;
        padding: 2rem; }
        .menu__hamburger--list-item a {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 2rem 1rem;
          color: #fcfcfc;
          text-align: center;
          transition: all 0.3s ease-in-out; }
        .menu__hamburger--list-item a:hover {
          background-color: #83b4b3; }
    .menu__hamburger--toggle:checked ~ .menu__hamburger--list {
      opacity: 1;
      margin-right: -2rem;
      margin-top: -3rem; }

/*# sourceMappingURL=style.css.map */
