// layout for articles, blog posts
.article {
  margin: 0 auto;
  width: 90%;
  padding: 1rem;

  @include responsive(tab) {
    width: 80%;
  }
  @include responsive(sm-desktop) {
    width: 70%;
  }
  @include responsive(normal-desktop) {
    width: 60%;
  }
  @include responsive(xl-desktop) {
    width: 50%;
  }

  /**********************
  style this part later
  ***********************/
  &__H2title {
    width: 100%;
    margin: 5rem auto 0;
    padding-top: 1rem;
    font-size: $font-size-large;
    color: $color-base-blue;
    text-align: center;

    // @include responsive(tab) {
    // }
    @include responsive(sm-desktop) {
      font-size: $font-size-xl;
    }
    // @include responsive(normal-desktop) {
    // }
    // @include responsive(xl-desktop) {
    // }
  }

  &__basic {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    font-size: $font-size-xs;

    &--author {
      height: auto;
      margin: 0 auto;
      padding: 1rem 1rem 2rem 1rem;
      @include flex-center;

      & span {
        font-style: italic;
        font-size: $font-size-xs;
        text-align: center;
      }
    }
  }

  &__intro,
  &__content {
    font-size: $font-size-s;
    line-height: 2;
  }

  &__title {
    font-size: $font-size-m;
    line-height: 1.4;
    display: inline-block;
    margin: 1rem auto;
  }

  // &__img {
  //   // margin: 0;
  //   // width: 100%;
  //   // height: 50vh;
  //   background-color: paleturquoise;
  // }
}

.main-carousel {
  margin: 2rem 0 6rem;
  background: $color-blue-grey;
  //height: 60vh;
}
.carousel-cell {
  @include flex-center;
  padding: 5rem 0;
}
.carousel-cell img {
  width: auto;
  height: 30rem;
  margin-right: 1rem;
  counter-increment: carousel-cell;
  border-radius: 0.5rem;

  @include responsive(tab) {
    height: 35rem;
  }
  @include responsive(sm-desktop) {
    height: 40rem;
  }
  @include responsive(normal-desktop) {
    height: 45rem;
  }
  @include responsive(xl-desktop) {
  }
}
.carousel-cell::before {
  display: block;
  content: counter(carousel-cell);
  line-height: 30rem;
  color: transparent;
}

figcaption {
  font-size: $font-size-xs;
  color: $color-base-blue; //$color-deep-blue-grey;
}

.article__btn {
  margin: 0 auto;
  padding: 2rem 0 12rem;
  width: 60%;
  height: max-content;
  @include flex-center;
  transition: all 0.3s ease-in-out;

  &--explore:hover {
    @include btn-hover;
    background-color: lighten($color-orangered, 5%);
  }
  &--explore:active {
    @include btn-active;
    background-color: darken($color-orangered, 5%);
  }
  &--explore:visited {
    color: $color-tan;
  }


}
