.flowers {
  margin: 2rem auto;
  padding: 1rem;
  height: auto;
  border: 2px solid pink;
}

.flower-search {
  margin: 2rem auto;
  padding: 1rem;
  border: 3px solid blue;
  width: 92%;
  text-align: center;
  & label,
  & select {
    font-size: $font-size-xs;
    @include responsive(tab) {
      font-size: $font-size-s;
    }
    // @include responsive(sm-desktop) {
    //   font-size: $font-size-sm;
    // }
  }

  @include responsive(tab) {
    width: 80%;
  }
  @include responsive(sm-desktop) {
    width: 50%;
  }
  @include responsive(normal-desktop) {
    width: 35%;
  }
}

.flower {
  border: 2px solid olivedrab;
  margin: 0.5rem auto;
  width: 95%;
  padding: 1rem;
  @include responsive(tab) {
    width: 85%;
  }
  @include responsive(sm-desktop) {
    width: 70%;
  }
  &__info {
    margin: 0.5rem auto;
    width: 95%;
    border: 2px solid orchid;
    @include responsive(tab) {
      width: 45%;
    }
    @include responsive(sm-desktop) {
      width: 32%;
    }
  }
}
