.guided-hikes {
  margin: 2rem auto;
  width: 100%;

  @include responsive(tab) {
    width: 80%;
  }
  @include responsive(sm-desktop) {
    width: 70%;
  }
  @include responsive(normal-desktop) {
    width: 60%;
  }
}

.sharethis-inline-share-buttons {
  margin: 0 auto;
  @include responsive(tab) {
    width: 80%;
  }
  @include responsive(sm-desktop) {
    width: 70%;
  }
  @include responsive(normal-desktop) {
    width: 60%;
  }
  @include responsive(xl-desktop) {
    width: 50%;
  }
}

.guided-hikes__note {
  margin: 2rem auto;
  width: 80%;
  font-size: $font-size-xs;
  line-height: 1.5;

  &--title {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
  }
  &--list {
    &--item {
      font-size: $font-size-xs;
      font-family: $font-text;
      &::first-letter {
        color: $color-orangered;
        font-size: 110%;
        font-weight: 600;
      }
    }
  }
}

.disclaimer {
  @include flex-center;
}

// Guided trips layout
.trips {
  margin: 2rem auto;
  width: 100%;
  height: max-content;
  padding: 1rem;

  @include responsive(tab) {
    width: 90%;
  }
  @include responsive(sm-desktop) {
    width: 85%;
  }
  @include responsive(normal-desktop) {
    width: 80%;
  }
  @include responsive(xl-desktop) {
    width: 70%;
  }

  &__title {
    margin-top: 5rem;
    font-size: $font-size-sm;
    text-align: center;
  }
  // date and difficulty sorting buttons
  &__sorting {
    margin: 2rem auto 1rem;
    padding: 0rem;
    @include flex-center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    @include responsive(tab) {
      flex-direction: row;
    }
    @include responsive(sm-desktop) {
    }
    @include responsive(normal-desktop) {
    }
  }

  //.trip__hikes is the parent of #trip-container
  &__hikes {
    width: 100%;
    height: max-content;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }
}

#allTrips {
  margin: 1rem auto;
  width: 90%;
  height: auto;
  // max-height: 110rem;
  // overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;

  @include responsive(tab) {
    width: 100%;
    //max-height: 70rem;
  }
}
// click Show all or Show less
#allTrips.open {
  max-height: max-content;
  transition: all 0.5s ease-in-out;
}

.eachTrip {
  margin: 2rem auto;
  min-width: 24rem;
  max-width: 30rem;
  max-height: 32rem;
  padding: 2rem;
  color: $color-deep-blue-grey;
  overflow: scroll;
  line-height: 1.4;
  box-shadow: 0.2rem 0.2rem 0.5rem lighten($color-deep-blue-grey, 60%);

  // @include responsive(tab) {
  //   min-width: 32rem;
  //   //max-width: 38rem;
  //   max-height: 30rem;
  // }
  // @include responsive(sm-desktop) {
  //   // min-width: 26rem;
  //   max-width: 34rem;
  // }
  // @include responsive(normal-desktop) {
  //   max-width: 28rem;
  //   //height: 38rem;
  // }
  // @include responsive(xl-desktop) {
  //   max-width: 30rem;
  // }

  &__title {
    width: 100%;
    min-height: 33%;
    padding: 1rem;
    display: inline-block;
    font-size: $font-size-xs;
    background-color: lighten($color-tan, 5%);
    display: flex;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 1rem darken($color-tan, 10%);

    @include responsive(sm-desktop) {
      font-size: $font-size-s;
    }
  }
  &__box {
    padding: 1rem;
    font-size: $font-size-xs;
  }
}

// difficulty rating explanation
.rating-green {
  background-color: $color-green;
  width: 5rem;
  height: 0.8rem;
  border-radius: 5px;
}
.rating-yellow {
  background-color: $color-yellow;
  width: 5rem;
  height: 0.8rem;
  border-radius: 5px;
}
.rating-red {
  background-color: $color-red;
  width: 5rem;
  height: 0.8rem;
  border-radius: 5px;
}

.customized {
  margin: 1rem auto 5rem;
  @include flex-center;
}
