.guided-hikes {
  margin: 2rem auto;
  width: 100%;

  @include responsive(tab) {
    width: 80%;
  }
  @include responsive(sm-desktop) {
    width: 70%;
  }
  @include responsive(normal-desktop) {
    width: 60%;
  }
  @include responsive(xl-desktop) {
    width: 50%;
  }
}

.sharethis-inline-share-buttons {
  margin: 0 auto;
  @include responsive(tab) {
    width: 80%;
  }
  @include responsive(sm-desktop) {
    width: 70%;
  }
  @include responsive(normal-desktop) {
    width: 60%;
  }
  @include responsive(xl-desktop) {
    width: 50%;
  }
}

.guided-hikes__note {
  & span {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
  }
  margin: 2rem auto;
  width: 80%;
  font-size: $font-size-xs;
  line-height: 1.8;

  @include responsive(tab) {
    font-size: $font-size-s;
  }
}

.difficulty {
  margin: -5rem auto 3rem;
  padding: 3rem 0;
  width: 80%;
  height: auto;
  @include flex-center;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 2rem lighten($color-deep-blue-grey, 40%);

  &__title {
    font-size: $font-size-sm;
    color: $color-base-blue;
  }
  &__explain {
    margin: 1rem auto;
    display: inline-block;
    width: 50%;
    font-size: $font-size-xs;
    color: $color-deep-blue-grey;
    text-align: center;
  }
  &__color {
    @include responsive(tab) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    &--item {
      min-width: 10rem;
      max-width: 12rem;
      min-height: 1.8rem;
      max-height: 2.2rem;
      margin: 2rem 1rem;
      border-radius: 10px;
      color: $color-deep-blue-grey;
      font-weight: 700;
      letter-spacing: 0.2rem;
      box-shadow: 0.1rem 0.1rem 0.3rem lighten($color-deep-blue-grey, 60%);
      @include flex-center;

      // @include responsive(tab) {
      //   min-width: 12rem;
      //   height: 2.2rem;
      // }
    }
  }
}
.green {
  background-color: $color-green;
}
.yellow {
  background-color: $color-yellow;
}
.red {
  background-color: $color-red;
  color: $color-white;
}

// Guided trips layout
.trips {
  margin: 2rem auto;
  width: 100%;
  height: max-content;
  padding: 1rem;

  @include responsive(tab) {
    width: 90%;
  }
  @include responsive(sm-desktop) {
    width: 85%;
  }
  @include responsive(normal-desktop) {
    width: 80%;
  }
  @include responsive(xl-desktop) {
    width: 65%;
  }

  &__title {
    font-size: $font-size-sm;
    text-align: center;
  }

  //.trip__hikes is the parent of #trip-container
  &__hikes {
    width: 100%;
    height: max-content;
    padding: 1rem;
  }
}

#oneDayFree {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.singleTrip {
  margin: 2rem auto;
  min-width: 26rem;
  max-width: 34rem;
  height: 30rem;
  //background-color: $color-tan;
  padding: 2rem;
  color: $color-deep-blue-grey;
  overflow: scroll;
  line-height: 1.4;
  box-shadow: 0.2rem 0.2rem 0.5rem lighten($color-deep-blue-grey, 60%);

  @include responsive(tab) {
    max-width: 32rem;
    height: 36rem;
  }
  @include responsive(sm-desktop) {
    max-width: 30rem;
  }
  @include responsive(normal-desktop) {
    //max-width: 29rem;
    height: 36rem;
  }
  @include responsive(xl-desktop) {
    max-width: 31rem;
  }

  &__title {
    font-size: $font-size-xs;
    //background-color: darken($color-tan, 5%);
    @include responsive(sm-desktop) {
      font-size: $font-size-s;
    }
  }
  &__box {
    padding: 1rem;
    background-color: $color-tan;
    font-size: $font-size-xs;
  }
}
