header {
  margin: 0 auto;
  width: 100%;
  height: auto;
  box-shadow: 0 0.4rem 1rem lighten($color-deep-blue-grey, 30%);
}

.header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(auto, 60%) minmax(auto, 40%); //70% 30%;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-around;
}

.header__background-img-box {
  background-image: url("../img/header-background9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 25%;
  position: relative;
  // parallax scrolling effect
  background-attachment: fixed;

  margin: 0;
  width: 100%;
  height: 70vh;

  grid-column: 1 / 3;
  grid-row: 1/ 3;

  @include flex-center;
  flex-direction: column;

  @include responsive(tab) {
    background-position: center;
    height: 90vh;
  }
  @include responsive(sm-desktop) {
    height: 100vh;
    background-position: 50% 35%;
  }

  &--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  &--title {
    margin-top: 0rem;
    font-size: $font-size-large;
    mix-blend-mode: overlay;
    transform: scale(0.8, 1.8);
    text-shadow: 0.1rem 0.1rem 0.2rem lighten($color-black, 15%);
    color: rgba($color-white, 0.9);

    @include responsive(tab) {
      font-size: $font-size-xl;
      transform: scale(1, 1.6);
    }
    @include responsive(normal-desktop) {
      transform: scale(1.2, 2.2);
      font-size: $font-size-xxl;
    }
    @include responsive(xl-desktop) {
      transform: scale(1.3, 2.5);
    }
  }

  &--title2 {
    margin-top: 1.5rem;
    display: inline-block;
    width: 90%;
    font-size: $font-size-s;
    text-align: center;
    transform: scale(0.8, 1.4);
    background: linear-gradient($color-base-blue, lighten($color-black, 60%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include responsive(tab) {
      font-size: $font-size-sm;
    }
    @include responsive(sm-desktop) {
      margin-top: 3rem;
      transform: scale(1, 2);
    }
    @include responsive(normal-desktop) {
      margin-top: 4rem;
      font-size: $font-size-m;
      // background: linear-gradient($color-base-blue, lighten($color-black, 60%));
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
  }
}

.header-box {
  margin: 0.5rem auto;
  width: 100%;
  height: min-content;
  z-index: 10;
  grid-column: 1 / 3;
  grid-row: 1/ 2;
  justify-content: space-between;

  @include responsive(tab) {
    width: 95%;
  }

  &__banner {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr 4fr; //minmax(20%, 40%) minmax(40%, 60%);
    grid-template-rows: 1fr;
    @include responsive(tab) {
      grid-template-columns: 1fr 1fr;
    }
    @include responsive(sm-desktop) {
      grid-template-columns: 2fr 1fr;
    }
    @include responsive(normal-desktop) {
      grid-template-columns: 3fr 1.5fr;
    }
  }
}

// Logo
.logo {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
  transition: display 0.3s ease-in-out;

  @include responsive(tab) {
    // margin-left: -1rem;
    display: block;
    max-height: 85%;
    padding-left: 0;
  }

  // &-sm {
  //   width: 4rem;
  //   height: auto;

  //   @include responsive(tab) {
  //     display: none;
  //   }
  //   @include responsive(sm-desktop) {
  //   }
  // }

  &-big {
    margin-left: 1rem;
    display: block;
    max-height: 90%;
    padding-left: 0;

    @include responsive(tab) {
      height: 4.5rem;
    }
  }
}

.menu {
  display: grid;
  grid-template-columns: 50% 30% 5.5rem;
  grid-template-rows: 1fr;

  &__google-search {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
  }

  &__startHere {
    color: $color-white;
    grid-column: 2 / 3;
    grid-row: 1/ 2;

    @include flex-center;

    font-size: $font-size-s;
    font-family: $font-title;
    @include responsive(tab) {
      font-size: $font-size-sm;
    }

    // hover effect
    background-image: linear-gradient(
      to bottom,
      transparent 75%,
      $color-base-blue
    );
    background-size: 0% 80%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;

    & {
      color: $color-base-blue;
      line-height: 1.2;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-size: 95% 80%;
      transform: translateY(-0.2rem);
    }
    &:visited {
      color: $color-orangered;
    }
  }

  /*******************************************************
  ************* Hamburger menu and nested drop-down menus
  ********************************************************/
  &__hamburger {
    grid-column: 3 / 4;
    grid-row: 1/ 2;

    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    right: 0;
    top: 1.7rem;
    //z-index: 2000; // might need to delete later

    @include responsive(tab) {
      right: 2.6%;
      top: 1.5rem;
    }

    &--toggle {
      display: block;
      margin: 0;
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: 2;
      right: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 33;
    }

    &--line {
      display: block;
      margin-bottom: 0.4rem;
      width: 2.5rem;
      height: 0.4rem;
      position: relative;
      top: 1rem;
      left: 0.8rem;
      background-color: $color-deep-blue-grey;
      transform-origin: 4px 0;
      transition: all 0.3s ease-in-out;
      border-radius: 3px;
    }

    &--line:first-child {
      transform-origin: 0% 0%;
    }

    &--line:nth-child(2) {
      transform-origin: 0 100%;
      transform-origin: 0 100%;
    }

    &--toggle:checked ~ &--line {
      opacity: 1;
      transform: rotate(45deg) translate(0, -1px);
      background-color: $color-white;
      z-index: 30;
    }

    &--toggle:checked ~ &--line:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg);
    }

    &--toggle:checked ~ &--line:nth-last-child(2) {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
      z-index: 31;
    }

    &--list {
      font-size: $font-size-sm; //
      font-family: $font-title;
      margin-right: 0;
      //background: rgba($color-base-blue, 0.95);
      background-image: radial-gradient(
        $color-base-blue,
        lighten($color-deep-blue-grey, 8%)
      );
      position: absolute; // for CSS only hamburger menu
      top: 0; // for CSS only hamburger menu
      right: -1rem; // for CSS only hamburger menu
      display: none; // for CSS only hamburger menu

      &-item {
        margin: 1rem auto;
        padding: 1rem;

        & a {
          display: inline-block;
          margin: 0 auto;
          width: 100%;
          // height: 100%;
          padding: 1.4rem 1rem;
          color: $color-white;

          text-align: center;
          transition: all 0.3s ease-in-out;
          backface-visibility: hidden;
        }
        & a:hover,
        & a:active {
          // need to fix the width when hovering
          //width: 101vw;
          //background-color: $color-blue-grey;
          transform: translate(-1.5rem);
          mix-blend-mode: difference;
        }
      }
    }

    &--toggle:checked ~ &--list {
      display: block;
      padding-top: 5rem;
      width: 106vw;
      height: 103vh;
      margin-top: -4rem;
      margin-right: -1rem;

      @include responsive(tab) {
        margin-right: -8rem;
        width: 107vw;
      }
    }
  }
}

// fixed navigation after scrolling down
.fixedNav {
  margin: 0 auto;
  padding-left: 3.5rem;
  width: 100%;
  height: 6.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;

  background: linear-gradient(
    to bottom,
    rgba($color-white, 1) 20%,
    rgba($color-white, 0.8) 50%,
    rgba($color-white, 0.6) 70%,
    rgba($color-white, 0.4) 85%,
    rgba($color-white, 0)
  );
}

// Google custom search engine
.gsc-control-cse {
  width: 70%;
  border: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.gsc-search-button-v2 {
  display: none !important;
  opacity: 0 !important;
}

.gsc-input-box {
  border-radius: 0 !important;
}

.gsc-search-box {
  margin-top: 0.6rem;
}
