// Different background images for different pages

/*******************************
********* Start here and basic pages
*******************************/

.header__background-img-7Reasons {
  background-image: url("../img/header-background5.jpg");
  background-size: cover;
  background-position: bottom;
}

.header__background-img-4Methods {
  background-image: url("../img/header-background8.jpg");
  background-size: cover;
  background-position: top;
}

.header__background-img-guided-tours {
  background-image: url("../img/header-background2.jpg");
  background-size: cover;
  background-position: 55% 35%;
}

.header__background-img-start-here {
  background-image: url("../img/header-background6.jpg");
  background-size: cover;
  background-position: 90%;
}

.header__background-img-about {
  background-image: url("../img/header-background7.jpg");
  background-size: cover;
  background-position: center;
}

.header__background-img-resources {
  background-image: url("../img/03-resources/resources-header.jpg");
  background-size: cover;
  background-position: center;
}

.header__background-img-15Things {
  background-image: url("../img/header-15things.jpg");
  background-size: cover;
  background-position: right 45% bottom;
}

.header__background-img-page-not-found {
  background-image: url("/img/header-page-not-found.jpg");
  background-size: cover;
  background-position: center;
}

/*******************************
********* Legal pages
*******************************/
.header__background-img-privacy {
  background-image: url("../img/ex04.jpg");
  background-size: cover;
  background-position: center;
}

.header__background-img-terms {
  background-image: url("../img/header-terms.jpg");
  background-size: cover;
  background-position: right center;
}

#page-not-found-title {
  font-size: $font-size-xl;
  color: $color-orangered;
  mix-blend-mode: unset;
}

#page-not-found-subtitle {
  font-size: $font-size-m;
  mix-blend-mode: unset;
}
/*******************************
********* Blog and blog post
*******************************/
.header__background-img-blog {
  background-image: url("../img/header-blog.jpg");
  background-size: cover;
  background-position: left center;
}

.header__background-img-teapot {
  background-image: url("../img/blog/01-Mt-Teapot/000-Teapot-cover-2.jpg");
  background-size: cover;
  background-position: center; //left bottom;
}

.header__background-img-keelung {
  background-image: url("../img/blog/02-Mt-Keelung/00-header-keelung.jpg");
  background-size: cover;
  background-position: center; //left bottom;
}

.header__background-img-tefuye {
  background-image: url("../img/blog/03-tefuye/00-tefuye-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 40% 20%;
}

.header__background-img-roma {
  background-image: url("../img/blog/04-roma/00-roma-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 25% 10%;
}
