// Different background images for different pages

/*******************************
********* Start here and basic pages
*******************************/

.header__background-img-7Reasons {
  background-image: url("../img/header-background5.jpg");
  background-size: cover;
  background-position: bottom;
}

.header__background-img-4Methods {
  background-image: url("../img/header-background8.jpg");
  background-size: cover;
  background-position: top;
}

.header__background-img-guided-tours {
  background-image: url("../img/header-background2.jpg");
  background-size: cover;
  background-position: 55% 35%;
}

.header__background-img-start-here {
  background-image: url("../img/header-background6.jpg");
  background-size: cover;
  background-position: 90%;
}

.header__background-img-about {
  background-image: url("../img/header-background7.jpg");
  background-size: cover;
  background-position: center;
}

.header__background-img-resources {
  background-image: url("../img/03-resources/resources-header.jpg");
  background-size: cover;
  background-position: center;
}

.header__background-img-15Things {
  background-image: url("../img/header-15things.jpg");
  background-size: cover;
  background-position: right 45% bottom;
}

.header__background-img-flowers {
  background-image: url("../img/header-flowers.jpg");
  background-size: cover;
  background-position: center;
}

.header__background-img-guide-training {
  background-image: url("../img/header-guide-training.jpg");
  background-size: cover;
  background-position: left 5%;
  @include responsive(tab) {
    background-position: center;
  }
}
/*******************************
********* Legal pages
*******************************/
.header__background-img-privacy {
  background-image: url("../img/ex04.jpg");
  background-size: cover;
  background-position: center;
}

.header__background-img-terms {
  background-image: url("../img/header-terms.jpg");
  background-size: cover;
  background-position: right center;
}

.header__background-img-cookie {
  background-image: url("/img/header-cookie-policy.jpg");
  background-size: cover;
  background-position: right center;
}

/*******************************
********* Page not found
*******************************/
.header__background-img-page-not-found {
  background-image: url("/img/header-page-not-found.jpg");
  background-size: cover;
  background-position: center;
}

#page-not-found {
  padding: 2rem;
}
#page-not-found-title {
  //margin-top: -5rem;
  font-size: $font-size-xl;
  //color: $color-orangered;
  color: $color-base-blue;
  -webkit-text-stroke: 0.2rem $color-tan;

  @include responsive(tab) {
    margin-top: 4rem;
    transform: scale(2, 1.6);
  }
}

#page-not-found-subtitle {
  margin-top: 4rem;
  font-size: $font-size-m;
  //color: $color-orangered;
  color: $color-base-blue;
  text-align: center;
  -webkit-text-stroke: 0.1rem $color-tan;
  transform: scale(1, 1.4);
  @include responsive(tab) {
    line-height: 1.4;
    font-size: $font-size-large;
    transform: scale(1.2, 1.4);
  }
}

#page-not-found-home {
  margin-top: 10rem;
  font-size: $font-size-large;

  @include responsive(tab) {
    margin-top: 20rem;
    transform: scale(1.4, 1.2);
  }
  @include responsive(sm-desktop) {
    margin-top: 30rem;
  }
  & a {
    color: $color-base-blue;
    -webkit-text-stroke: 0.1rem $color-tan;
  }
}
.return-home {
  font-size: $font-size-m;
  color: $color-base-blue;
  -webkit-text-stroke: 0.1rem $color-tan;
}

/*******************************
********* Work with us header
*******************************/
.header__background-img-work-with-us {
  background-image: url("../img/header-work-with-us.jpg");
  background-size: cover;
  background-position: center;
}

/*******************************
********* Blog and blog post
*******************************/
.header__background-img-blog {
  background-image: url("../img/header-blog.jpg");
  background-size: cover;
  background-position: left center;
}

.header__background-img-teapot {
  background-image: url("../img/blog/01-Mt-Teapot/000-Teapot-cover-2.jpg");
  background-size: cover;
  background-position: center; //left bottom;
}

.header__background-img-keelung {
  background-image: url("../img/blog/02-Mt-Keelung/00-header-keelung.jpg");
  background-size: cover;
  background-position: center; //left bottom;
}

.header__background-img-tefuye {
  background-image: url("../img/blog/03-tefuye/00-tefuye-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 40% 20%;
}

.header__background-img-data {
  background-image: url("../img/blog/05-Mt-Data/00-data-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: center;
}

.header__background-img-roma {
  background-image: url("../img/blog/04-roma/00-roma-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 25% 10%;
}

.header__background-img-bitoujiao {
  background-image: url("../img/blog/06-Bitoujiao/00-bitoujiao-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 25% 10%;
}

.header__background-img-smangus {
  background-image: url("../img/blog/07-smangus/00-smangus-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 25% 10%;
}

.header__background-img-songluo {
  background-image: url("../img/blog/08-lake-songluo/00-songluo-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 50% 0%;
  @include responsive(tab) {
    background-position: center;
  }
}

.header__background-img-wutong {
  background-image: url("../img/blog/09-wutong/00-WuTong-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 50% 0%;
  @include responsive(tab) {
    background-position: center;
  }
}

.header__background-img-yuan {
  background-image: url("../img/blog/10-mt-yuan/00-mt-yuan-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 50% 0%;
  @include responsive(tab) {
    background-position: center;
  }
}

.header__background-img-baigu {
  background-image: url("../img/blog/11-baigu/00-mt-baigu-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 50% 0%;
  @include responsive(tab) {
    background-position: center;
  }
}

.header__background-img-dali-datong {
  background-image: url("../img/blog/12-dali-datong/00-dali-datong-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 50% 0%;
  @include responsive(tab) {
    background-position: 40% 20%;
  }
}

.header__background-img-tonghou-river-source {
  background-image: url("../img/blog/13-tonghou-river-source/00-tonghou-river-source-header-blog-thumbnail-s.jpg");
  background-size: cover;
  background-position: bottom;
  @include responsive(tab) {
    background-position: 20% 20%;
  }
}

.header__background-img-dabajian {
  background-image: url("../img/blog/14-dabajian/00-dabajian-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 20% 20%;
  @include responsive(tab) {
    background-position: center;
  }
}

.header__background-img-puli-6-part1 {
  background-image: url("../img/blog/15-Puli-6-beauties-1/00-puli-6-beauties-1-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 30% 20%;
  @include responsive(tab) {
    background-position: bottom;
  }
  @include responsive(sm-desktop) {
    background-position: center;
  }
}

.header__background-img-puli-6-part2 {
  background-image: url("../img/blog/16-Puli-6-beauties-2/00-puli-6-beauties-2-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: 30% 20%;
  @include responsive(tab) {
    background-position: bottom;
  }
  @include responsive(sm-desktop) {
    background-position: center;
  }
}

.header__background-img-tonghou-taversing {
  background-image: url("../img/blog/17-tonghou-taversing/00-tonghou-taversing-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: right 24% bottom 1%;
  @include responsive(tab) {
    background-position: bottom;
  }
  @include responsive(sm-desktop) {
    background-position: center;
  }
}

.header__background-img-zhuilu {
  //background-image: url("../img/blog/18-zhuilu-old-trail/zhuilu-header-blog-thumbnail-vertical02.jpg");
  background-image: url("../img/blog/18-zhuilu-old-trail/zhuilu-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: left;
 // @include responsive(tab) {
 //   background-position: right;
 // }
  @include responsive(sm-desktop) {
    background-position: right 1% bottom 20%;
  }
}

.header__background-img-shakadang-xiaozhuilu {
  //background-image: url("../img/blog/18-zhuilu-old-trail/zhuilu-header-blog-thumbnail-vertical02.jpg");
  background-image: url("../img/blog/19-shakadang-xiaozhuilu/shakadang-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: cebter;
  @include responsive(tab) {
    background-position: bottom;
  }
  @include responsive(sm-desktop) {
    background-position: center;
  }
}

.header__background-img-qilai-nanhua {
  //background-image: url("../img/blog/18-zhuilu-old-trail/zhuilu-header-blog-thumbnail-vertical02.jpg");
  background-image: url("../img/blog/20-qilai-nanhua/00-qilai-nanhua-header-blog-thumbnail.jpg");
  background-size: cover;
  background-position: cebter;
  @include responsive(tab) {
    background-position: bottom;
  }
  @include responsive(sm-desktop) {
    background-position: center;
  }
}