header {
  margin: 0 auto;
  width: 100%;
  height: auto;
  box-shadow: 0 0.4rem 1rem lighten($color-deep-blue-grey, 30%);
}

.header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(auto, 60%) minmax(auto, 40%); //70% 30%;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-around;
}

.header__background-img-box {
  background-image: url("../img/header-background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 25%;
  position: relative;

  margin: 0;
  width: 100%;
  height: 70vh;

  grid-column: 1 / 3;
  grid-row: 1/ 3;

  @include flex-center;
  flex-direction: column;

  @include responsive(tab) {
    background-position: center;
    height: 90vh;
  }
  @include responsive(sm-desktop) {
    height: 100vh;
    background-position: bottom;
  }

  &--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  &--title {
    margin-top: -2.2rem;
    font-size: $font-size-large;
    mix-blend-mode: overlay;
    transform: scale(0.8, 1.8);
    text-shadow: 0.1rem 0.1rem 0.1rem $color-base-blue;
    color: rgba($color-white, 0.9);

    @include responsive(tab) {
      transform: scale(1, 1.6);
    }
    @include responsive(normal-desktop) {
      transform: scale(1.2, 2.2);
      font-size: $font-size-xxl;
    }
    @include responsive(xl-desktop) {
      transform: scale(1.3, 2.5);
    }
  }

  &--title2 {
    margin-top: -2.4rem;
    display: inline-block;
    width: 90%;
    font-size: $font-size-s;
    text-align: center;
    background: linear-gradient($color-base-blue, lighten($color-black, 78%));
    // background: linear-gradient($color-base-blue, $color-deep-blue-grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //mix-blend-mode: overlay;
    transform: scale(0.8, 1.4);
    //text-shadow: 0.1rem 0.1rem 0.1rem $color-base-blue;
    // color: $color-base-blue;

    @include responsive(tab) {
      font-size: $font-size-sm;
    }
    @include responsive(sm-desktop) {
      margin-top: -1.8rem;
    }
    @include responsive(normal-desktop) {
      margin-top: -1rem;
      font-size: $font-size-m;
      background: linear-gradient($color-base-blue, lighten($color-black, 60%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.logo {
  padding: 1rem 1rem 1rem 1.5rem;
  transition: display 0.3s ease-in-out;

  &-sm {
    width: 4rem;
    height: auto;

    @include responsive(tab) {
      display: none;
    }
    @include responsive(sm-desktop) {
    }
  }

  &-big {
    display: none;

    @include responsive(tab) {
      margin-left: -1rem;
      display: block;
      height: 4.5rem;
      padding-left: 0;
    }
  }
}

.header-box {
  margin: 0.5rem auto;
  width: 100%;
  height: min-content;
  z-index: 10;
  grid-column: 1 / 3;
  grid-row: 1/ 2;
  justify-content: space-between;

  @include responsive(tab) {
    width: 95%;
  }

  &__banner {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr minmax(16rem, 22rem); //minmax(20%, 40%) minmax(40%, 60%);
    grid-template-rows: 1fr;
  }
}

.menu {
  display: grid;
  grid-template-columns: minmax(70%, 80%) 120px;
  grid-template-rows: 1fr;

  &__startHere {
    color: $color-white;
    grid-column: 1 / 2;
    grid-row: 1/ 2;

    @include flex-center;

    font-size: $font-size-sm;
    font-family: $font-title;

    // hover effect
    background-image: linear-gradient(
      to bottom,
      transparent 75%,
      $color-base-blue
    );
    background-size: 0% 80%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;

    & {
      color: $color-base-blue;
      line-height: 1.2;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-size: 95% 80%;
      transform: translateY(-0.2rem);
    }
    &:visited {
      color: $color-orangered;
    }
  }

  /*******************************************************
  ************* Hamburger menu and nested drop-down menus
  ********************************************************/
  // .line-long {
  //   width: 3rem;
  //   left: 1rem;
  // }
  // .line-short {
  //   width: 2rem;
  //   left: 1.5rem;
  // }

  &__hamburger {
    grid-column: 2 / 3;
    grid-row: 1/ 2;

    width: 4rem;
    height: 4rem;
    position: relative;

    right: 3%;
    top: 1.3rem;
    transition: all 0.5s ease-in-out;

    @include responsive(tab) {
      right: 2.6%;
      top: 1.5rem;
    }

    &--toggle {
      display: block;
      margin: 0;
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 20;
    }

    &--line {
      display: block;
      margin-bottom: 0.4rem;
      width: 2.5rem;
      height: 0.4rem;
      position: relative;
      top: 0.7rem;
      background-color: $color-deep-blue-grey;
      transform-origin: 4px 0;
      transition: all 0.3s ease-in-out;
      border-radius: 3px;
    }

    &--line:first-child {
      transform-origin: 0% 0%;
    }

    &--line:nth-child(2) {
      transform-origin: 0 100%;
      transform-origin: 0 100%;
    }

    &--toggle:checked ~ &--line {
      opacity: 1;
      transform: rotate(45deg) translate(-1px, -1px);
    }

    &--toggle:checked ~ &--line:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) translate(0.2, 0.2);
    }

    &--toggle:checked ~ &--line:nth-last-child(2) {
      opacity: 1;
      transform: rotate(-45deg) translate(-1px, -1px);
    }

    &--list {
      font-size: $font-size-sm;
      font-family: $font-title;
      margin-top: -0.7rem;
      margin-right: -10rem;
      padding: 0.5rem;
      width: 110vw;
      height: 110vh;

      background: rgba($color-base-blue, 0.9);
      position: absolute;
      top: 0;
      right: 0;
      //opacity: 0; // change back to 0 later
      display: none;
      transition: all 0.5s ease-in-out; // not working. fix it later

      &-item {
        margin: 2rem auto;
        padding: 2rem;

        & a {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 2rem 1rem;
          color: $color-white;

          text-align: center;
          transition: all 0.5s ease-in-out;
        }
        & a:hover {
          background-color: $color-blue-grey;
          // text-shadow: $color-deep-blue-grey;
        }
      }
    }

    &--toggle:checked ~ &--list {
      //opacity: 1;
      display: block;
      margin-right: -2rem;
      margin-top: -3rem;
    }
  }
}

// fixed navigation after scrolling down
.fixedNav {
  margin: 0 auto;
  padding-left: 3.5rem;
  width: 100%;
  height: 6.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  background: linear-gradient(
    to bottom,
    rgba($color-white, 1) 20%,
    rgba($color-white, 0.8) 50%,
    rgba($color-white, 0.6) 70%,
    rgba($color-white, 0.4) 85%,
    rgba($color-white, 0)
  );
}
