header {
  margin: 0 auto;
  width: 100%;
  height: auto;
  box-shadow: 0 0.4rem 1rem lighten($color-deep-blue-grey, 30%);
}

.header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(auto, 60%) minmax(auto, 40%); //70% 30%;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-around;
}

.header__background-img-box {
  background-image: url("../img/header-background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 25%;
  position: relative;

  margin: 0;
  width: 100%;
  height: 70vh;

  grid-column: 1 / 3;
  grid-row: 1/ 3;

  @include flex-center;
  flex-direction: column;

  @include responsive(tab) {
    background-position: center;
    height: 90vh;
  }
  @include responsive(sm-desktop) {
    height: 100vh;
    background-position: bottom;
  }

  &--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  &--title {
    margin-top: 0rem;
    font-size: $font-size-large;
    mix-blend-mode: overlay;
    transform: scale(0.8, 1.8);
    text-shadow: 0.1rem 0.1rem 0.2rem lighten($color-black, 15%);
    color: rgba($color-white, 0.9);

    @include responsive(tab) {
      font-size: $font-size-xl;
      transform: scale(1, 1.6);
    }
    @include responsive(normal-desktop) {
      transform: scale(1.2, 2.2);
      font-size: $font-size-xxl;
    }
    @include responsive(xl-desktop) {
      transform: scale(1.3, 2.5);
    }
  }

  &--title2 {
    margin-top: 1.5rem;
    display: inline-block;
    width: 90%;
    font-size: $font-size-s;
    text-align: center;
    transform: scale(0.8, 1.4);
    background: linear-gradient($color-base-blue, lighten($color-black, 60%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include responsive(tab) {
      font-size: $font-size-sm;
    }
    @include responsive(sm-desktop) {
      margin-top: 3rem;
      transform: scale(1, 2);
    }
    @include responsive(normal-desktop) {
      margin-top: 4rem;
      font-size: $font-size-m;
      // background: linear-gradient($color-base-blue, lighten($color-black, 60%));
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
  }
}

// Different background images for different pages
.header__background-img-7Reasons {
  background-image: url("../img/header-background5.jpg");
  background-size: cover;
  background-position: bottom;
}

.header__background-img-4Methods {
  background-image: url("../img/header-background8.jpg");
  background-size: cover;
  background-position: top;
}

.header__background-img-guided-tours {
  background-image: url("../img/header-background2.jpg");
  background-size: cover;
  background-position: 55% 35%;
}

.header__background-img-start-here {
  background-image: url("../img/header-background6.jpg");
  background-size: cover;
  background-position: 90%;
}

.header__background-img-about {
  background-image: url("../img/header-background7.jpg");
  background-size: cover;
  background-position: center;
}

.header__background-img-15Things {
  background-image: url("../img/header-15things.jpg");
  background-size: cover;
  background-position: right 45% bottom;
}

.header__background-img-blog {
  background-image: url("../img/header-blog.jpg");
  background-size: cover;
  background-position: left center;
}

.header__background-img-teapot {
  background-image: url("../img/blog/01-Mt-Teapot/000-Teapot-cover-2.jpg");
  background-size: cover;
  background-position: center; //left bottom;
}

.header__background-img-keelung {
  background-image: url("../img/blog/02-Mt-Keelung/00-header-keelung.jpg");
  background-size: cover;
  background-position: center; //left bottom;
}

.header__background-img-tefuye {
  background-image: url("../img/blog/03-tefuye/00-tefuye-header.jpg");
  background-size: cover;
  background-position: 40% 20%;
}

.header__background-img-privacy {
  background-image: url("../img/ex04.jpg");
  background-size: cover;
  background-position: center;
}

.header__background-img-terms {
  background-image: url("../img/header-terms.jpg");
  background-size: cover;
  background-position: right center;
}

// Logo

.logo {
  padding: 1rem 1rem 1rem 1.5rem;
  transition: display 0.3s ease-in-out;

  &-sm {
    width: 4rem;
    height: auto;

    @include responsive(tab) {
      display: none;
    }
    @include responsive(sm-desktop) {
    }
  }

  &-big {
    display: none;

    @include responsive(tab) {
      margin-left: -1rem;
      display: block;
      height: 4.5rem;
      padding-left: 0;
    }
  }
}

.header-box {
  margin: 0.5rem auto;
  width: 100%;
  height: min-content;
  z-index: 10;
  grid-column: 1 / 3;
  grid-row: 1/ 2;
  justify-content: space-between;

  @include responsive(tab) {
    width: 95%;
  }

  &__banner {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr minmax(16rem, 22rem); //minmax(20%, 40%) minmax(40%, 60%);
    grid-template-rows: 1fr;
  }
}

.menu {
  display: grid;
  grid-template-columns: minmax(70%, 80%) 120px;
  grid-template-rows: 1fr;

  &__startHere {
    color: $color-white;
    grid-column: 1 / 2;
    grid-row: 1/ 2;

    @include flex-center;

    font-size: $font-size-sm;
    font-family: $font-title;

    // hover effect
    background-image: linear-gradient(
      to bottom,
      transparent 75%,
      $color-base-blue
    );
    background-size: 0% 80%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;

    & {
      color: $color-base-blue;
      line-height: 1.2;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-size: 95% 80%;
      transform: translateY(-0.2rem);
    }
    &:visited {
      color: $color-orangered;
    }
  }

  /*******************************************************
  ************* Hamburger menu and nested drop-down menus
  ********************************************************/
  // .line-long {
  //   width: 3rem;
  //   left: 1rem;
  // }
  // .line-short {
  //   width: 2rem;
  //   left: 1.5rem;
  // }

  &__hamburger {
    grid-column: 2 / 3;
    grid-row: 1/ 2;

    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    right: 0;
    top: 1.3rem;
    //z-index: 2000; // might need to delete later

    @include responsive(tab) {
      right: 2.6%;
      top: 1.5rem;
    }

    &--toggle {
      display: block;
      margin: 0;
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: 2;
      right: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 33;
    }

    &--line {
      display: block;
      margin-bottom: 0.4rem;
      width: 2.5rem;
      height: 0.4rem;
      position: relative;
      top: 1rem;
      left: 0.8rem;
      background-color: $color-deep-blue-grey;
      transform-origin: 4px 0;
      transition: all 0.3s ease-in-out;
      border-radius: 3px;
    }

    &--line:first-child {
      transform-origin: 0% 0%;
    }

    &--line:nth-child(2) {
      transform-origin: 0 100%;
      transform-origin: 0 100%;
    }

    &--toggle:checked ~ &--line {
      opacity: 1;
      transform: rotate(45deg) translate(0, -1px);
      background-color: $color-white;
      z-index: 30;
    }

    &--toggle:checked ~ &--line:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg);
    }

    &--toggle:checked ~ &--line:nth-last-child(2) {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
      z-index: 31;
    }

    &--list {
      font-size: $font-size-sm; //
      font-family: $font-title;
      margin-right: 0;
      background: rgba($color-base-blue, 0.9);
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      display: none;

      &-item {
        margin: 1rem auto;
        padding: 1rem;

        & a {
          display: inline-block;
          margin: 0 auto;
          width: 100%;
          height: 100%;
          padding: 2rem 1rem;
          color: $color-white;

          text-align: center;
          transition: all 0.5s ease-in-out;
          backface-visibility: hidden;
        }
        & a:hover {
          // width: 105vw;
          // margin-left: -1rem;
          background-color: $color-blue-grey;
          // text-shadow: $color-deep-blue-grey;
        }
      }
    }

    &--toggle:checked ~ &--list {
      //opacity: 1;
      display: block;
      padding-top: 5rem;
      width: 100vw;
      height: 100vh;
      margin-top: -3rem;
      margin-right: -1rem;

      @include responsive(tab) {
        //margin-right: 0rem;
        margin-right: -6rem;
        width: 106vw;
      }
      @include responsive(sm-desktop) {
        // margin-right: -5rem;
        // width: 104vw;
      }
      @include responsive(normal-desktop) {
      }
    }
  }
}

// fixed navigation after scrolling down
.fixedNav {
  margin: 0 auto;
  padding-left: 3.5rem;
  width: 100%;
  height: 6.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;

  background: linear-gradient(
    to bottom,
    rgba($color-white, 1) 20%,
    rgba($color-white, 0.8) 50%,
    rgba($color-white, 0.6) 70%,
    rgba($color-white, 0.4) 85%,
    rgba($color-white, 0)
  );
}
