.home-7Reasons {
  margin: 0 auto;

  width: 100%;
  height: auto;
}

.sevenReasons {
  margin: 2rem auto;
  padding: 3rem 1rem;
  width: 90%;
  text-align: center;

  @include flex-center;
  flex-direction: column;

  @include responsive(tab) {
    width: 80%;
  }
  @include responsive(sm-desktop) {
    width: 70%;
  }
  @include responsive(normal-desktop) {
    width: 60%;
  }
  @include responsive(xl-desktop) {
    width: 50%;
  }

  // &__intro {
  //   padding: 3rem 1.5rem;
  //   font-size: $font-size-sm;
  //   font-family: $font-title;
  //   animation-duration: 3s;
  //   animation-delay: 0.5s;
  //   line-height: 1.4;
  // }
  &__title {
    display: inline-block;
    padding: 1.5rem;
    font-size: $font-size-m;
    color: $color-base-blue;
    line-height: 1.2;
    transition: all 0.3s ease-in-out;

    @include responsive(sm-desktop) {
      font-size: $font-size-large;
    }
    @include responsive(normal-desktop) {
      font-size: $font-size-xl;
    }

    &:hover {
      text-decoration: underline;
    }
  }
  &__text {
    display: inline-block;
    padding: 1.5rem;
    font-size: $font-size-xs;
    line-height: 2;

    @include responsive(sm-desktop) {
      font-size: $font-size-s;
    }
  }
  &__btn {
    padding: 1.5rem 0.5rem;

    &--explore {
      //display: block;
      @include flex-center;
      width: 16rem;
      height: 4rem;
      background: linear-gradient(
        $color-base-blue,
        lighten($color-deep-blue-grey, 10%)
      );
      color: $color-white;
      font-size: $font-size-s;
      font-family: $font-title;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;
      text-shadow: 0.1rem 0.1rem 0.1rem $color-white;
      box-shadow: 0.2rem 0.2rem 0.4rem lighten($color-deep-blue-grey, 30%);
    }

    &--explore:hover {
      @include btn-hover;
      background-color: lighten($color-orangered, 5%);
    }
    &--explore:active {
      @include btn-active;
      background-color: darken($color-orangered, 5%);
    }
    // &--explore:visited {

    // }
  }
}

// Hiking trip section
.home-freeHikes {
  margin: 0 auto;
  width: 100%;
  height: 70vh; // change to auto later;
}

.freeHikes {
  margin: 0 auto;
  padding: 3rem 1rem;
  width: 90%;
  background-color: peachpuff;
}

// testimonials section
.home__testimonials {
  margin: 0 auto;
  width: 100%;
  height: 50vh; // change to auto later;
}

.testimonials {
  margin: 0 auto;
  padding: 3rem 1rem;
  width: 90%;
  background-color: pink;
}

// Sponsors section
.home__sponsors {
  margin: 0 auto;
  width: 100%;
  height: 50vh; // change to auto later;
}

.sponsors {
  margin: 0 auto;
  padding: 3rem 1rem;
  width: 90%;
  background-color: khaki;
}
