.home-7Reasons {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.sevenReasons {
  margin: 2rem auto;
  padding: 3rem 1rem;
  width: 90%;
  text-align: center;

  @include flex-center;
  flex-direction: column;

  @include responsive(tab) {
    width: 80%;
  }
  @include responsive(sm-desktop) {
    width: 70%;
  }
  @include responsive(normal-desktop) {
    width: 60%;
  }
  @include responsive(xl-desktop) {
    width: 50%;
  }

  // &__intro {
  //   padding: 3rem 1.5rem;
  //   font-size: $font-size-sm;
  //   font-family: $font-title;
  //   animation-duration: 3s;
  //   animation-delay: 0.5s;
  //   line-height: 1.4;
  // }
  &__title {
    display: inline-block;
    padding: 1.5rem;
    font-size: $font-size-m;
    line-height: 1.2;

    @include responsive(sm-desktop) {
      font-size: $font-size-large;
    }
    @include responsive(normal-desktop) {
      font-size: $font-size-xl;
    }

    & a {
      color: $color-base-blue;
      line-height: 1.2;
      transition: all 0.3s ease-in-out;
    }

    & a:hover,
    & a:active {
      text-decoration: underline;
      color: lighten($color-deep-blue-grey, 10%);
    }

    & a:visited {
      @include link-visited;
    }
  }
  &__text {
    display: inline-block;
    text-overflow: ellipsis;
    padding: 1.5rem;
    font-size: $font-size-xs;
    line-height: 2;

    @include responsive(sm-desktop) {
      font-size: $font-size-s;
    }
  }
}

// Hiking trip section
.home-freeHikes {
  margin: 0 auto;
  width: 100%;
  height: auto; // change to auto later;
  padding: 1.5rem 0;
  background-image: url(/img/header-background-large.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include flex-center;
}

.freeHikes {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  width: 90%;
  background-color: rgba($color-white, 0.8);

  @include flex-center;
  flex-direction: column;

  @include responsive(tab) {
    //margin-top: -25%;
    max-height: 60rem;
    max-width: 45rem;
    min-height: 70%;
    max-height: 80%;
  }
  @include responsive(sm-desktop) {
    margin-left: 12%;
    max-height: 70rem;
    min-width: 35rem;
  }
  @include responsive(normal-desktop) {
    //margin-left: 25%;
    //min-width: 50rem;
    max-height: 80rem;
  }

  &__trips {
    width: 100%;
    min-height: 70%;

    &--title {
      font-size: $font-size-m;
      color: $color-base-blue;
      line-height: 1.2;
    }
  }
}

// Latest free hikes
.homepageTrip {
  margin: 1rem;
  padding: 1rem;
  color: darken($color-base-blue, 10%);
  line-height: 1.6;
  box-shadow: 0.2rem 0.4rem 0.5rem lighten($color-deep-blue-grey, 60%);

  &__title {
    font-size: $font-size-xs;
    @include responsive(tab) {
      font-size: $font-size-s;
    }
  }
  &__box {
    @include responsive(tab) {
      font-size: $font-size-xs;
    }
  }
}

// testimonials section
.home__testimonials {
  margin: 8rem auto;
  width: 100%;
  height: 70vh;
}

.testimonials {
  margin: 1rem auto;
  padding: 1rem;
  width: 90%;
  height: 100%;

  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;

  @include responsive(tab) {
    width: 80%;
    height: 110%;
  }
  @include responsive(sm-desktop) {
    width: 65%;
    height: 110%;
  }
  @include responsive(normal-desktop) {
    width: 55%;
  }
  @include responsive(xl-desktop) {
    width: 45%;
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    //min-height: 40vh;
    background-color: lighten($color-tan, 5%);
    transition: left 0.4s ease-in-out;

    display: flex;
    flex-flow: row nowrap;
  }
}

.cell {
  width: 100vh;
  height: 70%;
  padding: 1rem;

  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &__avatar {
    width: 25%;
    max-width: 15rem;
    padding: 1rem 0;
    text-align: center;
    border-radius: 50%;
    @include responsive(tab) {
      margin-top: 1rem;
      width: 20%;
    }
    @include responsive(sm-desktop) {
      width: 25%;
    }
  }

  &__quote {
    display: inline-block;
    width: 95%;
    height: auto;
    text-align: center;
    padding: 0.5rem;
    font-size: $font-size-xs;
    line-height: 1.6;
    @include responsive(tab) {
      width: 90%;
      font-size: $font-size-s;
    }
  }

  &__author {
    display: block;
    font-size: $font-size-sm;
    font-family: $font-title;
    color: $color-base-blue;
    padding: 1rem 0 2rem;
  }
}

.slider__nav {
  margin: 2.5rem;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 10;
  outline: 0.6rem solid $color-base-blue;
  outline-offset: -0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 0 0 $color-base-blue, 0 0 0 0 $color-tan;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @include responsive(tab) {
    margin: 3rem 2.5rem;
  }
  @include responsive(sm-desktop) {
    margin: 6.5rem 2.5rem;
  }
}

.slider__nav:checked {
  -webkit-animation: check 0.3s linear forwards;
  animation: check 0.3s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .testimonials__box {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .testimonials__box {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .testimonials__box {
  left: -200%;
}

// Sponsors section
// .home__sponsors {
//   margin: 0 auto;
//   width: 100%;
//   height: 50vh; // change to auto later;

//   @include flex-center;
// }

// Testimonials using Zell's course
.homeCarousel {
  margin: 2rem 0 6rem;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 3rem minmax(45vw, 80vw) 3rem;
  grid-template-rows: minmax(45vh, 65vh) 3rem;
  align-items: center;
  grid-gap: 1rem;
  // @include responsive(tab) {
  //   grid-template-columns: 1fr 70vw 1fr;
  // }
  // @include responsive(sm-desktop) {
  //   grid-template-columns: 3rem 60vw 3rem;
  // }

  & > *:nth-child(2) {
    grid-column: 2;
    align-self: stretch;
  }

  // Buttons
  &__button {
    padding: 0.3rem;
    border: none;
    fill: lighten($color-deep-blue-grey, 30%);
  }

  &__contents-container {
    overflow: hidden;
  }

  &__contents {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: absolute;
    width: inherit;
    height: 90%;
    background-color: lighten($color-tan, 5%);
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 2px solid fuchsia;
    @include responsive(tab) {
      // width: 100vw;
      height: 100%;
      padding: 1rem 3rem;
      border: 2px solid greenyellow;
    }
    @include responsive(sm-desktop) {
      border: 2px solid peru;
    }

    &--avatar {
      width: 25%;
      max-width: 15rem;
      padding: 1rem 0;
      text-align: center;
      border-radius: 50%;
      @include responsive(tab) {
        margin-top: 1rem;
        width: 20%;
      }
      @include responsive(sm-desktop) {
        width: 25%;
      }
    }

    &--quote {
      display: inline-block;
      width: 95%;
      height: auto;
      text-align: center;
      padding: 0.5rem;
      font-size: $font-size-xs;
      line-height: 1.6;
      @include responsive(tab) {
        width: 90%;
        font-size: $font-size-s;
      }
    }

    &--author {
      display: block;
      font-size: $font-size-sm;
      font-family: $font-title;
      color: $color-base-blue;
      padding: 1rem 0 2rem;
    }
  }
}

// Carousel dots
.homeCarousel__dots {
  grid-column: 1 / -1;
  justify-self: center;
}
.homeCarousel__dot {
  margin: 1rem 1rem 3rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 100%;
  background-color: $color-blue-grey;
  border: none;
  &:hover {
    background-color: $color-base-blue;
  }
}

.is-hidden {
  display: none;
}
