// Seven Reasons section basic layout
.seven {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/***********************************************
Start Here and Blog Home page layout
************************************************/
.start-here {
  margin: 0 auto;
  width: 100%;
}

.here__container {
  margin: 5rem auto 0;
  width: 90%;

  @include responsive(tab) {
    width: 70%;
  }
  @include responsive(sm-desktop) {
    width: 60%;
  }
  @include responsive(normal-desktop) {
    width: 50%;
  }
  @include responsive(xl-desktop) {
  }
}

.here {
  margin: 2rem auto 12rem;
  @include flex-center;
  flex-direction: column;

  &__title {
    padding: 1rem;
    font-size: $font-size-sm;
    color: $color-base-blue;
    text-align: center;

    @include responsive(tab) {
      font-size: $font-size-m;
    }
    & a {
      color: $color-base-blue;
      line-height: 1.2;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:active {
        @include link-hover-active;
      }
      &:visited {
        @include link-visited;
      }
    }
    // & a:hover,
    // & a:active {
    //   @include link-hover-active;
    // }
    // & a:visited {
    //   @include link-visited;
    // }
  }

  &__text {
    padding: 1rem;
    font-size: $font-size-xs;
    text-align: center;
    line-height: 1.6;
    @include responsive(tab) {
      font-size: $font-size-s;
    }
  }

  &__img {
    padding: 1rem;
    @include flex-center;

    & img {
      width: 40%;
      box-shadow: 1rem 1rem 1rem lighten($color-deep-blue-grey, 40%);
      @include responsive(tab) {
        width: 50%;
      }
      @include responsive(sm-desktop) {
        width: 60%;
      }
    }
  }
}

/***********************************************
Guided Hikes page layout
************************************************/
.guided-hikes__note {
  & span {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
  }
  margin: 2rem auto;
  width: 80%;
  font-size: $font-size-xs;
  line-height: 1.8;
}

.difficulity {
  margin: -12rem auto 3rem;
  width: 80%;
  height: 30rem;
  @include flex-center;
    flex-direction: column;

  &__title {
    font-size: $font-size-sm;
    color: $color-base-blue;
  }
  &__color {
    
    &--item {
      width: 10rem;
      height: 1.8rem;
      margin: 2rem;
      border-radius: 10px;
      color: $color-deep-blue-grey;
      font-weight: 700;
      letter-spacing: .2rem;
      box-shadow: .2rem .2rem .5rem lighten($color-deep-blue-grey, 40%);
      @include flex-center;
    }

  }
}
.green {
  background-color: $color-green;
  
  
}
.yellow {
  background-color: $color-yellow;
}
.red {
  background-color: $color-red;
  color: $color-white;
}

// trips container
.trips {
  width: 90%;
  height: auto;
  border: 2px solid red;
  &__title {
    font-size: $font-size-sm;

  }
  &__hikes {
    width: 75%;
    height: 50vh;
    border: 2px solid green;
  }
}







// Buttons
.load-more__btn {
  background: linear-gradient(
        $color-base-blue,
        lighten($color-deep-blue-grey, 10%)
      );
}
.custom-made__btn {
  margin-top: -10rem;
  width: 23rem;
}