// Layouts for Start Here and Blog home

*:focus {
  outline: none;
}

/***********************************************
Start Here and Blog Home page layout
************************************************/
.start-here {
  margin: 0 auto;
  width: 100%;
}

.here__container {
  margin: 5rem auto 0;
  width: 90%;

  @include responsive(tab) {
    width: 70%;
  }
  @include responsive(sm-desktop) {
    width: 60%;
  }
  @include responsive(normal-desktop) {
    width: 55%;
  }
}

.here {
  margin: 4rem auto;
  @include flex-center;
  flex-direction: column;
  // @include responsive(tab) {
  //   margin-bottom: 4rem;
  // }

  &__title {
    padding: 1rem;
    font-size: $font-size-sm;
    color: $color-base-blue;
    text-align: center;

    @include responsive(tab) {
      font-size: $font-size-m;
    }
    & a {
      color: $color-base-blue;
      line-height: 1.2;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:active {
        @include link-hover-active;
      }
      &:visited {
        @include link-visited;
      }
    }
  }

  &__text {
    padding: 1rem;
    font-size: $font-size-xs;
    text-align: center;
    line-height: 1.6;
    @include responsive(tab) {
      font-size: $font-size-s;
    }
  }

  &__img {
    padding: 1rem;
    @include flex-center;

    & img {
      width: 100%;
      box-shadow: 1rem 1rem 1rem lighten($color-deep-blue-grey, 40%);
    }
  }
}

/***********************************************
About page layout
************************************************/
.about-container__creator {
  margin: 2rem auto;
  &--img {
    & img {
      border-radius: 50%;
      width: 15rem;
    }
  }
  &--intro {
    text-align: left;
    & div {
      margin: 1.5rem 0;
    }
  }
  & h4 {
    font-size: $font-size-s;
    display: inline-block;
    margin: 1rem 0 0;
    padding-left: 1rem;

    @include responsive(tab) {
      font-size: $font-size-sm;
    }
  }
  & div {
    margin: 1.5rem 0;
  }
}

.about-container__disclaimer,
.about-container__hikingclub {
  margin: 3rem auto;
  &--img {
    & img {
      width: 70%;
      border-radius: 0.5rem;
    }
  }
  &--img-couple {
    & img {
      width: 45%;
      @include responsive(tab) {
        width: 35%;
      }
    }
  }
  &--intro {
    text-align: left;
  }
  & h4 {
    font-size: $font-size-s;
    display: inline-block;
    margin: 1rem 0 0;
    padding-left: 1rem;
    @include responsive(tab) {
      font-size: $font-size-sm;
    }
  }
  & div {
    margin: 1.5rem 0;
  }
}

.about-container__disclaimer,
.about-container__disclaimer-text span {
  color: $color-orangered;
}

// .about-container__acknowledgement {
//   margin: 1rem auto 6rem;
// }

// Sizes of Taiwan compared to other countries
.sizes {
  &__clickToSee {
    margin: 2rem auto;
    // transition: display 3s ease-in-out; not working
    transition: display 0.3s ease-in-out;
    @include flex-center;

    &--countries {
      display: none;
      margin: 2rem auto 4rem;
      padding: 2rem;
      box-shadow: 1rem 1rem 3rem lighten($color-deep-blue-grey, 50%);
      line-height: 2;
      border-radius: 0.5rem;

      @include responsive(tab) {
        padding: 3rem;
      }
      @include responsive(sm-desktop) {
        padding: 4rem;
      }
    }

    &--content {
      & b {
        color: $color-base-blue;
      }
    }
  }
}

.size-is-open {
  display: block;
}

// Landing page and About page guided hikes box
.freeHikes__btn-box {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  @include flex-center;
}
.about-freeHikes__btn-box {
  margin-bottom: 8rem;
}

/**************************************
********** Blog grid layout
**************************************/
.blog__container {
  //width: ;
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  @include responsive(tab) {
    width: 95%;
  }
  // @include responsive(sm-desktop) {
  //   width: 90%;
  // }
  @include responsive(normal-desktop) {
    width: 75%;
  }
  @include responsive(xl-desktop) {
    width: 70%;
  }

  &--section {
    max-width: 90%;
    margin: 1.5rem 2.5rem;
    height: 30rem;
    padding: 1.5rem;
    box-shadow: 1rem 1rem 3rem lighten($color-deep-blue-grey, 50%);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(2fr, 4fr);

    @include responsive(tab) {
      max-width: 38%;
      height: 35rem;
    }
    @include responsive(sm-desktop) {
      max-width: 27%;
      height: 40rem;
    }
    @include responsive(xl-desktop) {
      max-width: 25%;
    }
    // @include responsive(xl-desktop) {
    //   max-width: 30%;
    // }
    &--title {
      font-size: $font-size-xs;
      text-align: center;
      grid-row: 1 / 2;

      & a {
        height: 100%;
        @include flex-center;
      }

      @include responsive(tab) {
        font-size: $font-size-s;
      }
      @include responsive(sm-desktop) {
        font-size: $font-size-sm;
      }
    }
    &--img {
      margin: 1rem auto;
      grid-row: 2 / 3;
      overflow: hidden;

      & img {
        width: auto;
        height: auto;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        @include responsive(tab) {
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
