// Seven Reasons section basic layout
.seven {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/***********************************************
Start Here and Blog Home page layout
************************************************/
.start-here {
  margin: 0 auto;
  width: 100%;
}

.here__container {
  margin: 5rem auto 0;
  width: 90%;

  @include responsive(tab) {
    width: 70%;
  }
  @include responsive(sm-desktop) {
    width: 60%;
  }
  @include responsive(normal-desktop) {
    width: 55%;
  }
}

.here {
  margin: 2rem auto 12rem;
  @include flex-center;
  flex-direction: column;

  &__title {
    padding: 1rem;
    font-size: $font-size-sm;
    color: $color-base-blue;
    text-align: center;

    @include responsive(tab) {
      font-size: $font-size-m;
    }
    & a {
      color: $color-base-blue;
      line-height: 1.2;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:active {
        @include link-hover-active;
      }
      &:visited {
        @include link-visited;
      }
    }
    // & a:hover,
    // & a:active {
    //   @include link-hover-active;
    // }
    // & a:visited {
    //   @include link-visited;
    // }
  }

  &__text {
    padding: 1rem;
    font-size: $font-size-xs;
    text-align: center;
    line-height: 1.6;
    @include responsive(tab) {
      font-size: $font-size-s;
    }
  }

  &__img {
    padding: 1rem;
    @include flex-center;

    & img {
      width: 40%;
      box-shadow: 1rem 1rem 1rem lighten($color-deep-blue-grey, 40%);
      @include responsive(tab) {
        width: 50%;
      }
      @include responsive(sm-desktop) {
        width: 60%;
      }
    }
  }
}

/***********************************************
About page layout
************************************************/
.about-container__creator {
  margin: 2rem auto;
  &--img {
    & img {
      border-radius: 50%;
      width: 15rem;
    }
  }
  &--intro {
    text-align: left;
  }
  & h4 {
    font-size: $font-size-s;
    display: inline-block;
    margin: 1rem 0;
    padding-left: 1rem;
  }
}

.about-container__disclaimer,
.about-container__hikingclub {
  margin: 3rem auto;
  &--img {
    & img {
      width: 60%;
    }
  }
  &--intro {
    text-align: left;
  }
}

.about-container__disclaimer,
.about-container__disclaimer-text span {
  color: $color-orangered;
}

.about-container__acknowledgement {
  margin: 1rem auto 6rem;
}
