*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #fcfcfc;
  font-weight: 400;
}

.main,
.footer {
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: #097392;
}
a:hover,
a:active {
  color: #d55534; //$color-orangered;
}
a:visited {
  color: #383838; //$color-deep-blue-grey;
}

.container {
  margin: 0 auto;
}

::selection {
  background-color: #d55534; // $color-orangered
  color: #fff0ce; // $color-white
}
