/***********************************
Colors:
base color, blue: #097392; 
blue-grey, #83B4B3;
tan, #FFF0CE;
orangered, #D55534
deep blue grey, #383838;

Fonts:
Titles: font-family: 'Alegreya', serif;
Texts: font-family: 'Open Sans', sans-serif;
***********************************/

// Colors
$color-white: #fcfcfc;
$color-black: #000;
$color-base-blue: #097392;
$color-blue-grey: #83b4b3;
$color-tan: #fff0ce;
$color-orangered: #d55534;
$color-deep-blue-grey: #383838;
$color-green: #9acd32;
$color-yellow: #ffd700;
$color-red: #ff0000;

// Fonts
$font-title: "Alegreya", serif;
$font-text: "Open Sans", sans-serif;

// Font sizes
$font-size-xxl: 7.2rem; //7.2rem
$font-size-xl: 4rem; //4.8rem for page title
$font-size-large: 3rem; // 3.2rem for h2 titles
$font-size-m: 2.6rem; // 2.6 rem for h3 titles
$font-size-sm: 2.2rem; // 2.2rem for h4 titles
$font-size-s: 1.8rem; // 1.8rem
$font-size-xs: 1.4rem; // 1.4rem for text
$font-size-xxs: 1rem; // 1rem for image captions

body {
  font-family: $font-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

p {
  //font-family:
}

.gradient-text {
  background: linear-gradient($color-tan, darken($color-base-blue, 5%));
  // background: linear-gradient($color-base-blue, $color-deep-blue-grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold-style {
  //text-shadow: 0 0.1rem $color-blue-grey;
  font-family: $font-title;
  //background-color: lighten($color-base-blue, 60%);
  background-color: lighten($color-blue-grey, 30%);
}
