/***********************************
Colors:
base color, blue: #097392; 
blue-grey, #83B4B3;
tan, #FFF0CE;
orangered, #D55534
deep blue grey, #383838;

Fonts:
Titles: font-family: 'Alegreya', serif;
Texts: font-family: 'Open Sans', sans-serif;
***********************************/

// Colors
$color-white: #fcfcfc;
$color-black: #000;
$color-base-blue: #097392;
$color-blue-grey: #83b4b3;
$color-tan: #fff0ce;
$color-orangered: #d55534;
$color-deep-blue-grey: #383838;
$color-green: #9ACD32;
$color-yellow: #FFD700;
$color-red: #FF0000;

// Fonts
$font-title: "Alegreya", serif;
$font-text: "Open Sans", sans-serif;

// Font sizes
$font-size-xxl: 7.2rem;
$font-size-xl: 6rem; // for page title
$font-size-large: 4rem; // for h2 titles
$font-size-m: 3.2rem; // for h3 titles
$font-size-sm: 2.4rem; // for h4 titles
$font-size-s: 1.8rem;
$font-size-xs: 1.4rem; // for text

body {
  font-family: $font-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

p {
  //font-family:
}

a:visited {
  color: complement($color-base-blue);
}

.gradient-text {
  background: linear-gradient($color-tan, darken($color-base-blue, 5%));
  // background: linear-gradient($color-base-blue, $color-deep-blue-grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
