// Scroll up button
.scroll-up {
  display: none;
  // display: block;
  position: fixed;
  width: 3rem;
  height: 3rem;
  // border-radius: 50%;
  bottom: 10%;
  right: 7%;
  background: radial-gradient($color-blue-grey 15%, $color-base-blue 85%);
  cursor: pointer;
  z-index: 300;
  transition: all 0.4s ease-in-out;
  &:hover {
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.5rem $color-white;
  }

  &__arrow {
    position: absolute;
    top: 10%;
    left: 9%;
    font-size: 2.5rem;
    color: $color-white;
    text-shadow: 0.1rem 0.1rem 0.2rem $color-deep-blue-grey;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: translateY(-0.2rem);
      border-radius: 50%;
    }
  }
}

// Landing Page 7 Reasons Explore button
.sevenReasons__btn {
  padding: 1.5rem 0.5rem;

  &--explore {
    @include flex-center;
    @include btn-style;
    background: linear-gradient(
      $color-base-blue,
      lighten($color-deep-blue-grey, 10%)
    );
  }

  &--explore:hover {
    @include btn-hover;
    background: linear-gradient(
      lighten($color-base-blue, 5%),
      lighten($color-deep-blue-grey, 10%)
    );
  }
  &--explore:active {
    @include btn-active;
  }
  &--explore:visited {
    color: lighten($color-orangered, 20%);
  }
}

// Disclaimer button
.disclaimer__btn {
  //padding-bottom: 0 !important;
  @include flex-center;
  @include btn-style;
  @include btn-alarm-color;

  &:hover {
    @include btn-hover;
    background-color: lighten($color-orangered, 5%);
  }
  &:active {
    @include btn-active;
    background-color: darken($color-orangered, 5%);
  }
  &:visited {
    color: $color-tan;
  }
}

// Size button on About page
.size__btn {
  @include btn-style;

  padding-top: 0.9rem;
  &:hover {
    @include btn-hover;
    background-color: lighten($color-orangered, 5%);
  }
  &:active {
    @include btn-active;
    background-color: darken($color-orangered, 5%);
  }
  &:visited {
    color: $color-tan;
  }
}

.article__btn {
  margin: 0 auto;
  padding: 2rem 0 12rem;
  width: 60%;
  height: max-content;
  @include flex-center;
  @include btn-style;

  &:hover {
    @include btn-hover;
    background-color: lighten($color-orangered, 5%);
  }
  &:active {
    @include btn-active;
    background-color: darken($color-orangered, 5%);
  }
  &:visited {
    color: $color-tan;
  }
}

// 4 Ways background-story button
.background-story__btn {
  width: 20rem;
}

.customized__btn {
  width: 32rem;
  text-align: center;
  @include flex-center;
  @include btn-style;
  @include btn-alarm-color;

  &:hover {
    @include btn-hover;
    background-color: lighten($color-orangered, 5%);
  }
  &:active {
    @include btn-active;
    background-color: darken($color-orangered, 5%);
  }
  &:visited {
    color: $color-tan;
  }
}

.trips__sorting--by-easy,
.trips__sorting--by-moderate,
.trips__sorting--by-challenging,
.trips__sorting--by-all {
  margin: 1rem;
  width: 17rem;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  //text-align: center;
  font-family: $font-title;
  font-size: $font-size-xs;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  @include responsive(tab) {
    width: 16rem;
    height: 4rem;
    border-radius: 0;
    margin: 1rem 0;
    padding: 0.5rem;
  }
  @include responsive(sm-desktop) {
    width: 17rem;
    height: 3rem;
  }

  &:hover {
    @include btn-hover;
  }
  &:active {
    @include btn-active;
  }
}

.trips__sorting--by-date {
  background: linear-gradient($color-tan, lighten($color-orangered, 10%));
}

.trips__sorting--by-easy {
  background: linear-gradient($color-green, lighten($color-black, 50%));
}

.trips__sorting--by-moderate {
  background: linear-gradient($color-yellow, lighten($color-black, 50%));
}

.trips__sorting--by-challenging {
  background: linear-gradient($color-red, lighten($color-black, 50%));
  color: $color-white;
}
.trips__sorting--by-all {
  background: linear-gradient(
    $color-base-blue,
    lighten($color-deep-blue-grey, 10%)
  );
  color: $color-white;
}

.green {
  background-color: $color-green;
}
.yellow {
  background-color: $color-yellow;
}
.red {
  background-color: $color-red;
}
