body {
  position: relative;
}

.converter__show {
  position: absolute;
  right: 0.3rem;
}

.converter-container {
  margin: 5rem auto 0;
  width: 30rem;
  height: 35rem;
  padding: 1rem 1rem 2rem;
  display: none;
  position: relative;
}

.close {
  width: 2rem;
  height: 2rem;
  margin-bottom: 2rem;
  position: absolute;
  right: 0.5rem;
  font-size: $font-size-s;
  color: lighten($color-deep-blue-grey, 30%);
  transition: color 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: $color-deep-blue-grey;
  }
}

.converter__show--button,
.converter__tabs--singleTab {
  &:hover {
    cursor: pointer;
  }
}

.converter__show--button {
  font-family: $font-title;
  font-size: $font-size-xs;
  border-radius: 15px 0 0 15px;
  padding: 1rem;
  background: linear-gradient(
    $color-base-blue,
    lighten($color-deep-blue-grey, 10%)
  );
  transition: all 0.3s ease-in-out;
  & span {
    color: $color-white;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -0.6rem;
  }
  &:hover {
    cursor: pointer;
    // padding-right: 1.1rem;
    // padding-left: 1.1rem;
    transform: scaleX(1.1);
  }
}

.converter-tabby {
  margin: 1rem auto;
  width: 100%;
  height: 6rem;
  padding: 1rem;
}

.converter__tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: $color-blue-grey;

  &--singleTab {
    font-family: $font-title;
    font-size: $font-size-xs;
    background-color: darken($color-base-blue, 5%);
    border: none;
    border-top-right-radius: 2rem;
  }
  &--singleTab.is-selected {
    background-color: lighten($color-blue-grey, 5%);
    color: $color-deep-blue-grey;
  }
}

.converter__contents {
  height: 26em;
  background-color: lighten($color-blue-grey, 5%);
  border-top: none;
  padding: 1rem 2rem 2rem;
  &--box {
    display: none;
  }
  &--box.is-selected {
    margin: 1rem auto 1.5rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 0.5rem;
  }
}
.converter__button {
  background-color: lighten($color-orangered, 5%);
  border: none;
  // might need to change the following when using SVG
  font-size: $font-size-xs;
  color: $color-white;
}
.content__input {
  padding: 0.2rem 0.5rem;
  width: 100%;
  height: 2.5rem;
  outline: none;
  transition: all 0.5s ease-in-out;

  &:focus {
    //background-color: lighten($color-orangered, 30%);
    border: none;
    border: 0.18rem solid $color-orangered;
  }
}

// Reset button
input[type="reset"] {
  margin-top: 1rem;
  height: 2.5rem;
  border-radius: 2rem;
  color: $color-white;
  font-size: $font-size-xs;
  font-family: $font-title;
  @include btn-alarm-color;
  border: none;

  &:hover {
    @include btn-hover;
    background-color: lighten($color-orangered, 5%);
    cursor: pointer;
    // try to fix hover jitter, but not working
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0.5rem;
      transform: translateY(0.5rem);
    }
  }
}

.temperature > input[type="reset"] {
  margin-top: 3rem;
}
